APP_NAME=TerceirosCR
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8090
LOG_CHANNEL=stderr
LOG_LEVEL=warning
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=terceiroscr
DB_USERNAME=terceiroscr
DB_PASSWORD=
MYSQL_DATABASE=terceiroscr
MYSQL_USER=terceiroscr
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_CONNECTION=sync
MAIL_MAILER=log
ADMIN_USERNAME=admin
ADMIN_PASSWORD=
